@import "tailwindcss";

:root {
  --color-mint: #c2eee1;
  --color-light: #fefaef;
  --color-yellow: #ffc700;
  --color-black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
